body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: bold;
    color: #D20005;
    margin: 0px;
    padding: 0px;
}

.errors {
 	color: #D20005;
  	font-weight : bold;
  	font-size: 13px;
  	background-color: #FFD39B;
  	padding: 10px;
  	margin-left: 10px;
  	margin-top: 50px;
  	border:1px solid #EE3B3B;
}
