body {
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: bold;
    color: #D20005;
    margin: 0px;
    padding: 0px;
}

.germanflag {
    background-image: url(../images/germanflag.png) !important;
    background-color: #000000;
}

.englishflag {
    background-image: url(../images/englishflag.png) !important;
    background-color: #000000;
}

.column1 {
    width: 90%;
}

.column2 {
    width: 10%;
}
